.card {
  background-color: var(--color-fondo-tarjeta);
  border-radius: var(--borde-redondeado);
  box-shadow: var(--sombra-tarjeta);
  border: 1px solid var(--color-borde-suave);
  overflow: hidden; // Para que los bordes redondeados se respeten
}

.card-header {
  padding: 1.5rem 2rem;
  background-color: var(--color-primario);
  border-bottom: 1px solid var(--color-borde-suave);

  h2 {
    margin: 0; // Sacamos el margen default del h2
    font-size: 1.5rem;
    color: #fff;
  }
}

.card-body {
  padding: 2rem;
}