<footer class="site-footer">
  <div class="footer-content">
    
    <div class="footer-brand-col">
      <a routerLink="/" class="footer-logo">
        <div class="logo-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" /></svg>
        </div>
        <span class="brand-name">{{ brand.nombre }}</span>
      </a>
      <p class="brand-tagline">
        Soluciones legales ágiles y transparentes. <br>
        Gestionamos tus reclamos de forma 100% digital.
      </p>
    </div>

    <div class="footer-nav-col">
      <h4>Plataforma</h4>
      <nav>
        <a routerLink="/" class="footer-link">Inicio</a>
        <a routerLink="/iniciar-reclamo" class="footer-link">Iniciar Trámite</a>
        <a routerLink="/consultar-tramite" class="footer-link">Seguimiento</a>
        <a routerLink="/login" class="footer-link highlight">Acceso Profesionales</a>
      </nav>
    </div>

    <div class="footer-contact-col">
      <h4>Contacto</h4>
      <ul class="contact-list">
        <li>
          <a href="mailto:{{ brand.email || 'contacto@estudio.com' }}" class="contact-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" /><path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" /></svg>
            <span>{{ brand.email || 'contacto@estudio.com' }}</span>
          </a>
        </li>
        <li *ngIf="brand.whatsapp">
          <a [href]="'https://wa.me/' + brand.whatsapp" target="_blank" class="contact-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 5.25V4.5z" clip-rule="evenodd" /></svg>
            <span>Atención por WhatsApp</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-bar">
    <div class="bar-content">
      <span class="copyright">© {{ year }} {{ brand.nombre }}. Todos los derechos reservados.</span>
      <div class="credits">
        <span>Powered by <strong>VisionPath</strong></span>
      </div>
    </div>
  </div>
</footer>